.navbar {
	border-radius: 0px;
  border: 0;
	background-color: #0092BC;
	padding: 0px;
  margin-bottom: 0;
}
.navbar a {
	padding: 0px;
}
.navbar img {
	width: 50px;
	margin: 0 px;
}
ul a{
	color: white;
}