.navbar
	border-radius: 0px
	background-color: #0092BC
	padding: 0px

.navbar a
	padding: 0px

.navbar img
	width: 50px
	padding-top: 7px
	padding-left: 2px

ul a
	color: white
	
#navlink:hover
	background: #0D5B71
