.navbar
	border-radius: 0px
	background-color: #0092BC
	padding: 0px
	margin-bottom: 0
	border: 0

.navbar a
	padding: 0px

.navbar img
	width: 50px
	padding-top: 7px
	padding-left: 2px

ul a
	color: white
	
#navlink:hover
	background: #0D5B71
	
.help
	bottom: 2%
	right: 2%
	position: absolute
	font-family: Courier New
	font-weight: bold
	text-align: center
	opacity: .3
	font-size: 30px
	background: white
	border-radius: 50%;
	width: 40px;
	height: 40px; 
	color: black
	
.help:hover
	opacity: .6
	color: blue-color
	cursor: pointer
	
#div1
	padding: 2%
	visibility: hidden
	bottom: 3%
	right: 7%
	width: auto
	height: auto	
	background: white
	position: absolute
	opacity: .5
	border-radius: 10px

/* account form things */
.account-form {
	width: 30%
	margin: 0 auto
}
.account-input-text {
	width: 100%
	margin-bottom: 10px
}
.account-save-button {
	text-align: center
	width: 100%
	margin-top: 5%
	margin-left: auto
	margin-right: auto
}

#formContainer {
	padding-top: 5%
}