button
	width: 100px
	text-align: center

#profile-img
	border-radius: 50%
	

.dockpic
	text-align: center
	padding: 25px
	margin: 30px
	min-height: 70vh
	border-color: #0092BC
	border-style: dotted

.decision
	padding-top: 30%
	margin-top: 100%
	text-align: center

.userToShip
	font-size: 25px
	margin-bottom: 0px
	
.userInfo
	font-size: 15px
	margin-top: 2px
	text-align: left
	
.blurb
	width: 70%
	position: relative
	margin: 0 auto
	
.buttonPar
	margin: 0
	
#sailButton
	border-radius: 0
	height: 60px
	width: 100%
	padding-bottom: 0px
	margin-bottom: 0px
	background-color: #0092BC
	color: white
	font-size: 25px
	
#sailButton:hover
	background-color: #0D5B71
	
#sinkButton
	border-radius: 0
	height: 60px
	width: 100%
	padding-top: 0px
	margin-top: 0px
	background-color: #CC3300
	color: white
	font-size: 25px
	
#sinkButton:hover
	background-color: #993300