.wrapperThing
	width: 40%
	margin: 0 auto
.profile
	text-align: center
	top: 50%
	left: 50%
	position: absolute
	transform: translate(-50%, -50%);
.navButtons
	margin-top: 10%
#signOut
	margin-top: 10%
ul
	list-style-type: none
	margin: 0
	padding: 0
#profile-img
	border-radius: 50%
	width: 200px
	height: 200px
	object-fit: cover