.wrapperThing
	width: 40%
	margin: 0 auto
.profile
	text-align:center
	margin: 0 auto
.navButtons
	margin-top: 10%
#signOut
	margin-top: 10%
ul
	list-style-type: none
	margin: 0
	padding: 0
#profile-img
	width: 50%
	border-radius: 50%