blue-color = #0092BC
dark-blue = #4E86A2
grey = #0D5B71
	
.page
	background-color: blue-color
	height: 100vh
	width: 100vw

#slogan
	text-align: center
	font-family: Sans-serif
	color: white
	font-size: 20px

.ship
	top: 2%
	left: 2%
	position: absolute
	color: white
	font-family: Courier New
	font-weight: bold
	font-size: 40px

.signUp
	width: 25%
	padding: None
	top: 50%
	left: 50%
	position: absolute
	transform: translate(-50%, -50%);
	
.logo
	width: 90%
	padding-bottom: 10%
	position: relative
	
.button
	background: dark-blue
	text-align: center
	color: white
	width: 100%
	padding: 15px 32px
	display: inline-block
	text-decoration: None
	font-weight: bold
	font-size: 20px
	font-family: Sans-serif
	position: relative
	border-radius: 10px

	
.button:visited
	color: white
	
.button:hover
	text-decoration: None
	background: grey
	color: white
	cursor: pointer
	