img 
	width: 200px

.circle 
	width: 100px
	height: 100px
	border: 1px solid blue
	border-radius: 100px
	background-size: 141px
	background-repeat: no-repeat
	background-position: 50%


.wrapper
	text-align:center
	margin: 15px