<div>
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<h1>Home#show</h1>
<p>Find me in app/views/home/show.html.erb</p>
<%= react_component("CurrentUser", props: {user: current_user}) %>
