<!DOCTYPE html>
<html>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="assets/ship-white-trans.png">
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a id="navlink" href="dock" style="color:white">dock</a></li>
          <li><a id="navlink" href="home" style="color:white">home</a></li>
          <li><a id="navlink" href="chat" style="color:white">chat</a></li>
          <li><a id="navlink" href="profile" style="color:white">account</a></li>
          <li><a id="navlink" href="signout" style="color:white">sign out</a></li>
      </div>
    </nav>
  </body>
</html>